*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--mainWhite);
  color: var(--mainDark);
  font-weight: 400;
  line-height: 1.7;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    [header-start] max-content [header-end] 2rem [main-content-start] max-content [main-content-end block-start] 1fr [block-end footer-start] minmax(
      8rem,
      max-content
    )
    [footer-end];
}
.text-title {
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
