.button {
  //   border: none;
  background-color: transparent;
  text-transform: capitalize;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:focus,
  &:active {
    overflow: hidden;
    outline: none;
  }
}

.back-btn {
  border: 1px solid var(--lightBlue);
  border-radius: 0.5rem;
  margin: 0 1rem;
  color: var(--lightBlue);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--mainWhite);
    background-color: var(--lightBlue);
  }
}

.cart-btn {
  border: 1px solid var(--mainYellow);
  border-radius: 0.5rem;
  color: var(--mainYellow);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--mainWhite);
    background-color: var(--mainYellow);
  }
}
