.main {
  grid-row: main-content-start / main-content-end;
  text-align: center;
  margin: 3.3rem 0;
  display: grid;
  grid-template-columns: 1fr [content-start] 70% [content-end] 1fr;
  justify-items: center;
}
