.navbar {
  grid-row: header-start / header-end;
  background-color: var(--mainBlue);
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 2rem;
  align-items: center;

  &__logo {
    display: grid;
    padding: 0 2rem;
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__cart-icon {
    margin-right: 1rem;
  }

  &__item {
    list-style: none;
  }

  &__link,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
    &:hover {
      background-color: rgba(#ddd, 0.2);
    }
  }
}
